
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
}
/* Navigation Bar ( Navbar ) */
nav.navbar {
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
    color: #17a6b1 !important;
}

nav.navbar-fixed-top {
    z-index: 9499;
    top: 0;
    padding: 25px 0;
    opacity: 0;
    background: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
    color: #bbb;
}

.icon-bar {
    background: #bbb;
}

/* Mobile Nav */
.mobile-nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    background: rgba(255, 255, 255, 0.98);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.mobile-nav.active {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mobile-nav ul {
    display: table-cell;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

.mobile-nav ul li {
    margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
    color: #aaa;
}

.mobile-nav a.close-link {
    font-size: 24px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 10px);
    left: 0;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    background: #17a6b1;
}

.row.title {
    padding: 0 20px;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: bold;
}
/* Colors */

.white {
    color: white;
}

.light-white {
    color: rgba(255, 255, 255, 0.5);
}

.white-bg {
    background: white;
}

.gray-bg {
    background: #f7f7f7;
}

.blue {
    color: #17a6b1;
}

.blue-bg {
    background: #17a6b1;
}

.muted {
    color: #989da0;
}

.margin-top {
    margin-top: 150px;
}

.navbar{
    margin-top: 30px;
    margin-right:30px;
}

em > a, li > a {
    color:#fafcfe;
}




